$bg-color: #171B24;
$section-color: #1F2430;
$text-color: #CCCAC2;
$green: #D5FF80;
$blue: #5CCFE6;
$magenta: #D4BFFF;
$yellow: #FFD173;
$orange-light: #FFAD66;

body {
  background-color: $bg-color;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "JetBrains Mono NF", "Lucida Console", monospace;
  font-size: 12pt;
}

a {
  color: $blue;
  text-decoration: none;
}

.greeting {
  margin-top: 2em;
}

.services {
  display: flex;
  flex-direction: column;
}

section {
  background-color: $section-color;
  padding: 10px 25px 10px 25px;
  border: double 1px transparent;
  background-image: linear-gradient($section-color, $section-color), radial-gradient(circle at top left, $magenta, $orange-light);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.section-header {
  color: $green;
}

.item-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.section-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.item-label {
  margin-right: 12px;
}
