body {
  background-color: #171B24;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "JetBrains Mono NF", "Lucida Console", monospace;
  font-size: 12pt; }

a {
  color: #5CCFE6;
  text-decoration: none; }

.greeting {
  margin-top: 2em; }

.services {
  display: flex;
  flex-direction: column; }

section {
  background-color: #1F2430;
  padding: 10px 25px 10px 25px;
  border: double 1px transparent;
  background-image: linear-gradient(#1F2430, #1F2430), radial-gradient(circle at top left, #D4BFFF, #FFAD66);
  background-origin: border-box;
  background-clip: padding-box, border-box; }

.section-header {
  color: #D5FF80; }

.item-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }

.section-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row; }

.item-label {
  margin-right: 12px; }

/*# sourceMappingURL=style.css.map */
