<!DOCTYPE html>
<html>

<head>
  <meta name="charset" content="utf-8">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <header>
    <div class="greeting">
      <h1>{{.Greeting}}</h1>
    </div>
  </header>
  <main>
    <section class="services">
      <div class="section-header">
        <h2>Services:</h2>
      </div>
      <div class="item-list">
        {{range .Services}}
        <div class="section-item">
          <div class="item-label">
            <p>{{.Name}}</p>
          </div>
          <div class="item-content">
            <p><a href="http://{{.Address}}">{{.Address}}</a></p>
          </div>
        </div>
        {{end}}
      </div>
    </section>
  </main>
</body>

</html>
